@font-face {
  font-family: Futura;
  src: url(./font/Futura-Bold.ttf);
}

@font-face {
  font-family: Gilroy;
  src: url(./font/Gilroy-Medium.ttf);
}

@font-face {
  font-family: ABCSocialMono;
  src: url(./font/ABCSocialMono-Regular.ttf);
}

@font-face {
  font-family: Helvetica;
  src: url(./font/HelveticaNowText-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gilroy";
}

*::selection {
  color: #fff;
  background-color: #000;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #f7f7f7;
}

/* NAVBAR */

#nav {
  width: 100%;
  position: fixed;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 25px;
  
}

#nav #nav-part2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

#links {
  padding: 10px;
}

#nav-part1 {
  height: 82px;
  overflow: hidden;
  z-index: 99;
}

#nav-part1 svg {
  display: block;
}

#nav-part2 #links a {
  text-transform: uppercase;

  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 14px;
  margin: 0 20px;
}

#icons {
  padding: 10px;
  border-radius: 50px;
  background-color: #f7f7f7;
}

#nav-part2 #icons i {
  font-size: 18px;
  margin: 0 20px;
  font-weight: 100;
  z-index: 99;
}

#cursor {
  height: 180px;
  width: 180px;
  background-color: rgba(224, 139, 189, 0.814);
  border-radius: 50%;
  position: fixed;
  transform: translate(-50%, -50%) scale(0);
}

/* SECTION-1  */

#section1 {
  min-height: 100vh;
  /* background-color: aqua; */
  position: relative;
  width: 100%;
  padding: 0 1vw;
  padding-top: 25vh;
  z-index: -1;
  overflow: hidden;
}

#section1 #headingdiv  {
  background-color: #f7f7f7;
}

#section1 #headingdiv #mainheading {
  font-size: 15vw;
  text-transform: uppercase;
  font-family: futura;
  line-height: 14vw;
  letter-spacing: -8px;
}

#section1 #headingdiv #mainheadingdiv {
  display: flex;
  gap: 4rem;
}

#image-container {
  height: 120vh;
  width: 100%;
  /* background-color: grey; */
  margin-top: 1vw;
  position: relative;
  z-index: -2;
}

#image-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* SECTION-2 */

#section2 {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: -1;
}

#section2 #headingdiv {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2.25rem;
  padding-bottom: 8rem;
}

#section2 #headingdiv #heading {
  text-align: center;
  font-size: 56px;
  line-height: 1em;
  text-transform: uppercase;
  letter-spacing: -0.03em;
  font-family: Futura;
}

#section2 #headingdiv #paragraph {
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 12px;
  font-family: ABCSocialMono;
  text-align: center;
  cursor: pointer;
  width: max-content;
}

#section2 #headingdiv #paragraph #pborder {
  border-width: 1px;
  border-style: outset;
  border-color: black;
}

#section2 #productscontainer {
  display: flex;
  flex-direction: column;
  padding: 1vw 2vw;
  gap: 2rem;
}

#section2 #productscontainer #prodcutsheadingdiv {
  display: flex;
  flex-direction: column;
}

#section2 #productscontainer #prodcutsheadingdiv #productsheading {
  display: flex;
  justify-content: space-between;
}

#section2 #productscontainer #prodcutsheadingdiv #productsheading h1 {
  font-family: ABCSocialMono;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: normal;
}

#section2 #productscontainer #prodcutsheadingdiv #productsheadingbar {
  border-width: 1px;
  border-style: outset;
  border-color: black;
}

#section2 #productdiv {
  min-height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  gap: 1rem;
  align-items: center;
}

#section2 #productdiv .elem {
  height: 100%;
  width: 33%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

#section2 #productdiv .elem img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  scale: 1.1;
}

#section2 #productdiv .elem .dets {
  height: 44px;
  border-radius: 50px;
  width: 70%;
  position: absolute;
  z-index: 9;
  background-color: #edf3ff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
}

#section2 #productdiv .elem .dets #circle {
  height: 8px;
  width: 8px;
  background-color: #000;
  border-radius: 999999px;
}

#section2 #productdiv .elem .dets p {
  font-size: 13px;
  font-family: Helvetica;
  text-transform: uppercase;
}

#section2 #productdiv .elem .dets #bold {
  font-weight: bold;
}

#section2 #section2headingdiv {
  display: flex;
  justify-content: space-between;
  padding-top: 5vw ;
  padding-left: 2vw;
  padding-right: 2vw;
}

#section2 #section2headingdiv #section2heading {
  font-size: 56px;
  text-transform: uppercase;
  line-height: 1em;
  width: 25em;
  font-family: Futura;
}

#section2 #section2headingdiv #section2paragraphdiv {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  text-align: left;
  width: 47%;
  padding-right: 8%;
}

#section2 #section2headingdiv #section2paragraphdiv p {
  font-family: Helvetica;
  letter-spacing: 0.01em;
  font-size: 16px;
  line-height: 1.6em;
}

#section2 #section2headingdiv #section2paragraphbtn {
  font-family: ABCSocialMono;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 12px;
  width: max-content;
}

#section2 #section2headingdiv #section2paragraphbtn #section2paragraphbtnborder {
  margin-top: 5px;
  border-width: 1px;
  border-style: outset;
  border-color: black;
}

/* SECTION-3 */

#section3 {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 0 1.75rem;
  position: relative;
  z-index: -1;
}



#section3 #allproducts {
  min-height: 120vh;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 10rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

#section3 #allproducts .child {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  align-items: center;
  justify-content: center;
}

#section3 #allproducts .child img {
  height: 80vh;
  width: 40vw;
  object-fit: cover;
}

#section3 #allproducts .child #childdescription{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4px;
}

#section3 #allproducts .child #childdescription h1{
  font-size: 0.75rem;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  line-height: 1.1;
  text-align: center;
  font-family: Helvetica ;
  font-weight: normal;
}

#section3 #allproducts .child #childdescription p{
  font-size: 0.625rem;
  font-family: Helvetica ;
}


/* SECTION-4 */

#section4 {
  display: flex;
  padding: 4rem 1.75rem;
  gap: 8rem;
  position: relative;
  z-index: -1;
}

#section4 #section4headingdiv {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 26%;
}

#section4 #section4headingdiv h1 {
  font-family: Futura;
  font-size: 1.5rem;
  font-weight: normal;
  text-transform: uppercase;
}

#section4 #section4headingdiv p {
  font-family: Helvetica;
  letter-spacing: 0.01em;
  font-size: 16px;
  line-height: 1.6em;
}

#section4 #section4headingdiv #section4headingbtn {
  font-family: ABCSocialMono;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 12px;
  width: max-content;
}

#section4 #section4headingdiv #section4headingbtn #section4headingbtnborder {
  margin-top: 5px;
  border-width: 1px;
  border-style: outset;
  border-color: black;
}

#section4 #section4imagdiv {
  display: flex;
  gap: 2rem;
  overflow: hidden;
}

#section4 #section4imagdiv img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}


/* FOOTER */

#footer {
  display: flex;
  flex-direction: column;
  padding: 6rem 1.75rem;
  position: relative;
  z-index: -1;
}

#footer #emailcatcher{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#footer #emailcatcher #heading {
  font-size: 40px;
  font-family: Futura;
  font-weight: normal;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
}

#footer #emailcatcher #emailcatcherborder {
  margin-top: 5px;
  border-width: 1px;
  border-style: outset;
  border-color: black;
  opacity: .8;
}

#footer #footerdiv {
  display: flex;
  justify-content: space-between;
  padding-top: 7rem;
}

#footer #footerdiv #footerleft{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-family: Helvetica;
  font-size: 14px;
  text-align: left;
}

#footer #footerdiv #footerleft #heading {
  text-transform: uppercase;
  opacity: .7;
}

#footer #footerdiv #footerleft #paragraph {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

#footer #footerdiv #footercenter  {
  width: 58%;
}

#footer #footerdiv #footerright{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-family: Helvetica;
  font-size: 14px;
  text-align: right;
}

#footer #footerdiv #footerright #heading {
  text-transform: uppercase;
  opacity: .7;
}

#footer #footerdiv #footerright #paragraph {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

#footer #footerlast {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
  padding-top: 7rem;
}

#footer #footerlast #link {
  display: flex;
  gap: 9rem;
  text-align: center;
  opacity: .7;
  font-size: 13px;
  font-family: Helvetica ;
  text-transform: uppercase;
}

#footer #footerlast #paragraph {
  text-align: center;
  font-family: Helvetica ;
  font-weight: 400;
  line-height: 1.5;
  font-size: 15px;
  padding-left: 11rem;
  padding-right: 11rem;
}




@media (max-width: 600px) {
  /* RESPONSIVE-NAVBAR */

  #nav {
    width: 100%;
    position: fixed;
    z-index: 99;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 15px;
  }

  #nav #nav-part2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }

  #links {
    padding: 10px;
    display: none;
  }

  #nav-part1 {
    /* background-color: RED; */
    height: 67px;
    overflow: hidden;
  }

  #nav-part1 svg {
    display: block;
    height: 67px;
    width: 80px;
  }

  #nav #twogoodlogo {
    height: 40px;
    margin-left: -20px;
  }

  #icons {
    padding: 7px;
    border-radius: 50px;
    background-color: #f7f7f7;
  }

  #nav-part2 #icons i {
    font-size: 15px;
    margin: 0 20px;
    font-weight: 100;
  }

  /* RESPONSIVE SECTION-1 */

  #section1 {
    min-height: 70vh;
    width: 100%;
    padding: 0 3vw;
    padding-top: 25vh;
  }

  #section1 #mainheading {
    font-size: 15vw;
    letter-spacing: -3px;
  }

  #section1 #mainheadingdiv {
    display: flex;
    gap: 4rem;
  }

  #image-container {
    /* height: 25vh; */
    margin-top: 3vw;
  }

  /* RESPONSIVE SECTION-2 */

  #section2 #productdiv {
    min-height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    padding: 5vw 3vw;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: red; */
  }

  #section2 #productdiv .elem {
    height: 100vh;
    width: 100%;
    /* background-color: red; */
    overflow: hidden;
    margin-bottom: 3vw;
  }

  #section2 #productdiv .elem img {
    height: 70%;
  }

  #section2 #productdiv .elem .dets {
    height: 40px;
    border-radius: 50px;
    width: 70%;
    position: absolute;
    z-index: 9;
    background-color: rgb(229, 156, 186);
  }

  /* RESPONSIVE SECTION-3 */

  #allproducts {
    min-height: 120vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .child {
    height: 54vh;
    width: 88vw;
    /* background-color: red; */
    /* border: 2px solid #000; */
    position: relative;
    padding: 15vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .child img {
    height: 100%;
  }
}
